#!/bin/bash
#
# Define the name of the OpenERP site
export SITENAME=""
export SITEUSER=""
#
# System device on which to install site  ** NOTHING WILL REMAIN OF ANY PRIOR CONTENT **
export HOMEDEVICE="" # eg, "/dev/sdb"
#
# The label used differentiate device labels.
# port DEVICELABEL="12345678901234" #  maximum characters : 14
export DEVICELABEL="TheMaximumSize" # eg, "DemoHost" will result in device
#                             # labels "OdooDemoHost" and "PgDemoHost"
#                             #
#
# The hypervisor label used for this device, if such is required.
export DEVICENAME="" # eg, "Volume 4775"
#
# Specify disk proportions
export ODOO_PERCENTAGE="40"
#
# Specify OpenERP XMLRPC port #
export ACCESS_PORT=8029
#
# Generic names
export POSTGRESUSR="postgres"
export OPENERPUSR="openerp"
#
# Identifiers for Odoo's database user.
export PSQLUSR="psql_${SITEUSER}"
export PSQLUSR_HOME="/srv/${SITENAME}/${POSTGRESUSR}"
#
# Define the identifiers OpenERP will use within the OS
export OERPUSR="oerp_${SITEUSER}"
export OERPUSR_WORK="/srv/${SITENAME}/${OPENERPUSR}"
export OERPUSR_HOME="${OERPUSR_WORK}/home"
#
#  System introspection flags. Written by volume creation process and exacted by mounting process.
export LBL_OPENERP="Odoo${DEVICELABEL}"
export LBL_POSTGRES="Pg${DEVICELABEL}"
export FLAGTAG="THE-AREA-BELOW-IS-RESERVED-FOR-PATCHING"
#
# Database backup archive
export SITE_ARCHIVE="/srv/${SITENAME}.tar.bz2"
#               eg, "/srv/site_tkd.tar.bz2"
export DATABASE_ARCHIVE="/srv/${SITENAME}/postgres/backups/${SITENAME}_db.gz"
#               eg,     "/srv/site_tkd/postgres/backups/site_tkd_db.gz"
#
export TRANSPORTED_DB_ARCHIVE="${OERPUSR_WORK}/${PSQLUSRDB}.gz"
export UPSTARTVARS_LOCATION="${OERPUSR_WORK}/UpStartVars.sh"
export DATABASE_BACKUPS_DIR="${PSQLUSR_HOME}/backups"

